<template>
    <div>
        <h1>Acceso de usuarios</h1>

        <form @submit.prevent="ingresoUsuario({email:email,password:pass})"> 
            <input 
                type="email"
                placeholder="Ingresa tu email"
                v-model="email"
                class="form-control mb-2"
            >
            <input 
                type="password"
                placeholder="Ingresa tu contraseña"
                v-model="pass"
                class="form-control mb-2"
            >
            <button type="submit" class="btn btn-primary">Acceder</button>
        </form>
        <p>{{error}}</p>
    </div>
</template>

<script>
import {mapActions,mapState} from 'vuex'
export default {
    name: 'Acceso',
    data(){
        return {
            email: '',
            pass: ''
        }
    },
    methods: {
        ...mapActions(['ingresoUsuario'])
    },
    computed: {
        ...mapState(['error'])
    },
}
</script>